In [1]:
import xlrd
import sqlite3

def build_db():
    '''读取xls文件建立数据库'''
    file_path = "C:\\Users\\god\\python\\2019-11-19\\python名单.xls"
    data = xlrd.open_workbook(file_path)
    table = data.sheets()[0]
    nrows = table.nrows
    head = str(table.row_values(0))[1:-1]
    l = []
    for i in range(1, nrows):
        l.append(table.row_values(i))
    conn = sqlite3.connect('student.db')
    c = conn.cursor()
    c.execute('create table student(' + head + ')')
    c.executemany('insert into student values(?,?,?,?)', l)
    conn.commit()
    conn.close()

In [2]:
import xlwt
def write_xls():
    conn = sqlite3.connect('student.db')
    c = conn.cursor()
    c.execute('select * from student')
    l=c.fetchall()
    workbook = xlwt.Workbook(encoding = 'utf-8')
    worksheet = workbook.add_sheet('Sheet1')
    for i in range(len(l)):
        for j in range(len(l[i])):
            worksheet.write(i, j, l[i][j])
    workbook.save('formatting.xls')
    conn.close()

In [7]:
def delete_student():
    conn = sqlite3.connect('student.db')
    c = conn.cursor()
    c.execute("DELETE from student where 序号==2;")
    conn.commit()
    print("Total number of rows deleted :", conn.total_changes)
    conn.close()

In [11]:
def insert_student():
    conn = sqlite3.connect('student.db')
    c = conn.cursor()
    c.execute("INSERT INTO student \
      VALUES (1, 17110501124,'Paul', 'California')");
    conn.commit()
    conn.close()

In [14]:
def update_student():
    conn = sqlite3.connect('student.db')
    c = conn.cursor()
    c.execute("UPDATE student set 学号 = 25000 where 序号=3")
    conn.commit()
    print("Total number of rows updated :", conn.total_changes)
    conn.close()

In [20]:
def select_student():
    conn = sqlite3.connect('student.db')
    c = conn.cursor()
    cursor = c.execute("SELECT 序号,学号,班级,姓名 from student where 1=1")
    for row in cursor:
       print("序号 = ", row[0])
       print("学号 = ", row[1])
       print("班级 = ", row[2])
       print("姓名 = ", row[3], "\n")

In [21]:
select_student()

序号 =  3.0
学号 =  25000
班级 =  计科1707
姓名 =  刘臣

序号 =  4.0
学号 =  17110501086
班级 =  计科1707
姓名 =  刘彤阳

序号 =  5.0
学号 =  17110501087
班级 =  计科1707
姓名 =  阚清博

序号 =  6.0
学号 =  17110501088
班级 =  计科1707
姓名 =  王明阳

序号 =  7.0
学号 =  17110501089
班级 =  计科1707
姓名 =  王汝之

序号 =  8.0
学号 =  17110501090
班级 =  计科1707
姓名 =  孙梦缘

序号 =  9.0
学号 =  17110501091
班级 =  计科1707
姓名 =  陈传达

序号 =  10.0
学号 =  17110501092
班级 =  计科1707
姓名 =  刘骁飞

序号 =  11.0
学号 =  17110501093
班级 =  计科1707
姓名 =  苏建峰

序号 =  12.0
学号 =  17110501095
班级 =  计科1707
姓名 =  杜宝乐

序号 =  13.0
学号 =  17110501096
班级 =  计科1707
姓名 =  马长鑫

序号 =  14.0
学号 =  17110501097
班级 =  计科1707
姓名 =  卜帅滨

序号 =  15.0
学号 =  17110501098
班级 =  计科1707
姓名 =  刘翔宇

序号 =  16.0
学号 =  17110501099
班级 =  计科1707
姓名 =  张浩

序号 =  17.0
学号 =  17110501100
班级 =  计科1707
姓名 =  林鹏

序号 =  18.0
学号 =  17110501101
班级 =  计科1707
姓名 =  张瀚

序号 =  19.0
学号 =  17110501102
班级 =  计科1707
姓名 =  李乾

序号 =  20.0
学号 =  17110501103
班级 =  计科1707
姓名 =  陈鹏飞

序号 =  21.0
学号 =  17110501104
班级 =  计科1707
姓名 =  张旭东

序号 =  22.0
学号 =  17110501105
班级 =  计科1707
姓名 =  吴彬

序号 =  23.0
学号 =  17110501106
班级 =  计科1707
姓名 =  杨开铭

序号 =  24.0
学号 =  17110501107
班级 =  计科1707
姓名 =  朱英豪

序号 =  25.0
学号 =  17110501108
班级 =  计科1707
姓名 =  张晓萌

序号 =  26.0
学号 =  17110501109
班级 =  计科1707
姓名 =  吕彦慰

序号 =  27.0
学号 =  17110501110
班级 =  计科1707
姓名 =  张书源

序号 =  28.0
学号 =  17110501111
班级 =  计科1707
姓名 =  张旭光

序号 =  29.0
学号 =  17110501112
班级 =  计科1707
姓名 =  王志伟

序号 =  30.0
学号 =  17110501113
班级 =  计科1707
姓名 =  程浩

序号 =  31.0
学号 =  17110501114
班级 =  计科1707
姓名 =  孔祥伟

序号 =  32.0
学号 =  17110501115
班级 =  计科1707
姓名 =  徐航

序号 =  33.0
学号 =  17112403009
班级 =  计科1707
姓名 =  刘鲁成

序号 =  34.0
学号 =  17112403011
班级 =  计科1707
姓名 =  杨清波

序号 =  35.0
学号 =  17120501116
班级 =  计科1707
姓名 =  李珊

序号 =  36.0
学号 =  17120501117
班级 =  计科1707
姓名 =  赵静

序号 =  37.0
学号 =  17120501118
班级 =  计科1707
姓名 =  吴瑶

序号 =  38.0
学号 =  17120501119
班级 =  计科1707
姓名 =  赵寒

序号 =  39.0
学号 =  17120501120
班级 =  计科1707
姓名 =  孟艾

序号 =  40.0
学号 =  17120501121
班级 =  计科1707
姓名 =  孔佳硕

序号 =  41.0
学号 =  17120501122
班级 =  计科1707
姓名 =  宋书晓

序号 =  42.0
学号 =  17120501123
班级 =  计科1707
姓名 =  金好

序号 =  43.0
学号 =  17122403026
班级 =  计科1707
姓名 =  赵钰颖

序号 =  44.0
学号 =  17110501124
班级 =  计科1708
姓名 =  陈法全

序号 =  45.0
学号 =  17110501125
班级 =  计科1708
姓名 =  雷洪润

序号 =  46.0
学号 =  17110501126
班级 =  计科1708
姓名 =  李明智

序号 =  47.0
学号 =  17110501127
班级 =  计科1708
姓名 =  张泰民

序号 =  48.0
学号 =  17110501128
班级 =  计科1708
姓名 =  牛存江

序号 =  49.0
学号 =  17110501129
班级 =  计科1708
姓名 =  郭庆福

序号 =  50.0
学号 =  17110501130
班级 =  计科1708
姓名 =  肖林成

序号 =  51.0
学号 =  17110501131
班级 =  计科1708
姓名 =  田德状

序号 =  52.0
学号 =  17110501132
班级 =  计科1708
姓名 =  文学凯

序号 =  53.0
学号 =  17110501133
班级 =  计科1708
姓名 =  张克庆

序号 =  54.0
学号 =  17110501134
班级 =  计科1708
姓名 =  丁秋

序号 =  55.0
学号 =  17110501135
班级 =  计科1708
姓名 =  倪永胜

序号 =  56.0
学号 =  17110501136
班级 =  计科1708
姓名 =  冯庆瑞

序号 =  57.0
学号 =  17110501137
班级 =  计科1708
姓名 =  杨春贵

序号 =  58.0
学号 =  17110501138
班级 =  计科1708
姓名 =  杨吉琛

序号 =  59.0
学号 =  17110501139
班级 =  计科1708
姓名 =  秦家淋

序号 =  60.0
学号 =  17110501140
班级 =  计科1708
姓名 =  刘建强

序号 =  61.0
学号 =  17110501141
班级 =  计科1708
姓名 =  徐向东

序号 =  62.0
学号 =  17110501142
班级 =  计科1708
姓名 =  李庶行

序号 =  63.0
学号 =  17110501143
班级 =  计科1708
姓名 =  张文涛

序号 =  64.0
学号 =  17110501144
班级 =  计科1708
姓名 =  汤哲

序号 =  65.0
学号 =  17110501145
班级 =  计科1708
姓名 =  孙琳

序号 =  66.0
学号 =  17110501146
班级 =  计科1708
姓名 =  程志浩

序号 =  67.0
学号 =  17110501147
班级 =  计科1708
姓名 =  韩朝阳

序号 =  68.0
学号 =  17110501148
班级 =  计科1708
姓名 =  赵振

序号 =  69.0
学号 =  17110501149
班级 =  计科1708
姓名 =  阎松

序号 =  70.0
学号 =  17110501150
班级 =  计科1708
姓名 =  解红鑫

序号 =  71.0
学号 =  17110501151
班级 =  计科1708
姓名 =  李浩源

序号 =  72.0
学号 =  17110501152
班级 =  计科1708
姓名 =  张明煜

序号 =  73.0
学号 =  17110501153
班级 =  计科1708
姓名 =  韩庆元

序号 =  74.0
学号 =  17110501154
班级 =  计科1708
姓名 =  吴庆昆

序号 =  75.0
学号 =  17110501155
班级 =  计科1708
姓名 =  汤俊飞

序号 =  76.0
学号 =  17110501156
班级 =  计科1708
姓名 =  袁家伟

序号 =  77.0
学号 =  17110501157
班级 =  计科1708
姓名 =  徐一文

序号 =  78.0
学号 =  17120501158
班级 =  计科1708
姓名 =  张丽杰

序号 =  79.0
学号 =  17120501159
班级 =  计科1708
姓名 =  张月婷

序号 =  80.0
学号 =  17120501160
班级 =  计科1708
姓名 =  张文英

序号 =  81.0
学号 =  17120501161
班级 =  计科1708
姓名 =  窦晓慧

序号 =  82.0
学号 =  17120501162
班级 =  计科1708
姓名 =  高云琦

序号 =  83.0
学号 =  17120501163
班级 =  计科1708
姓名 =  李欣聪

序号 =  84.0
学号 =  17120501164
班级 =  计科1708
姓名 =  乔梦

序号 =  85.0
学号 =  17121005028
班级 =  计科1708
姓名 =  宁慧颖

序号 =  86.0
学号 =  17121005031
班级 =  计科1708
姓名 =  李蓝靖

序号 =  87.0
学号 =  17121005037
班级 =  计科1708
姓名 =  霍嘉婷

序号 =  1
学号 =  17110501124
班级 =  California
姓名 =  Paul

In [15]:
update_student()

Total number of rows updated : 1

In [12]:
insert_student()

In [8]:
delete_student()

Total number of rows deleted : 1

In [3]:
build_db()
write_xls()

In [ ]:
def main():
    build_db()
    write_xls()

if __name__ == '__main__':
    main()